<!doctype html>
<html lang="en-US">
    <head>
        <!-- Basic Metadata -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title | safe }}</title>
        <meta name="description" content="{{ description | safe }}" />
        <meta name="author" content="{{ author }}" />
        <link rel="stylesheet" href="tailwind.css" />
    <body>
        <main
            class="container mx-auto p-4 flex min-h-screen max-w-3xl flex-col bg-bgColor px-4 pt-16 font-mono text-sm font-normal text-textColor antialiased sm:px-8"
        >
            {{ content | safe }}
            <header>
                <nav class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none list-none">
                    {% for page in pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </nav>
            </header>
            <h2>Recent Posts</h2>
            <ul>
                {% for post in posts %}
                    <li>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            {%include "partials/footer.html"%}
        </main>
    </body>
</html>
