<!doctype html>
<html lang="en-US">
    <head>
        <!-- Basic Metadata -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}" />
        <meta name="author" content="{{ author }}" />
        <link rel="stylesheet" href="static/styles/tailwind.css" />
        <link rel="icon" href="static/images/favicon.ico" type="image/x-icon"/>
    </head>
    <body>
        <main
            class="container mx-auto p-4 flex min-h-screen max-w-3xl flex-col bg-bgColor px-4 pt-16 font-mono text-sm font-normal text-textColor antialiased sm:px-8"
        >
            {%include "partials/header.html"%}
            {{ content | safe }} {%include "partials/footer.html"%}
        </main>
    </body>
</html>
